<%= error_messages_for :ticket -%>

<% form_for setup_ticket(@ticket), :html => { :multipart => true } do |f| -%>
<dl>
<dt><label for="ticket_title">Title</label></dt>
<dd><%= f.text_field :title, {:style => "width: 440px", :class => "textfield" } -%></dd>

<dt><label for="ticket_cliente_id">Cliente</label></dt>
<%#= select 'ticket', 'cliente_id', Cliente.find(:all).collect {|c| [ c.cliente, c.id ] }, {}, { :style => "width: 130px", :class => "selectbox" } -%>
<dd><%= f.collection_select :cliente_id, @cliente_select, :id, :nomefantasia, { :include_blank => true }, { :class => "selectbox" } -%></dd>

<dt><label for="ticket_group_id">Group</label></dt>
<%#= select 'ticket','group_id',Group.find(:all).collect {|g| [ g.group, g.id ] }, {}, :class => "selectbox" -%>
<dd><%= f.collection_select :group_id, @group_select, :id, :name, { :include_blank => true }, { :class => "selectbox" } -%></dd>

<dt><label for="ticket_status_id">Status</label></dt>
<%#= select 'ticket','status_id',Status.find(:all).collect {|s| [ s.status, s.id ] }, {}, { :style => "width: 130px", :class => "selectbox" } -%>
<dd><%= f.collection_select :status_id, @status_select, :id, :name, { :include_blank => true }, { :class => "selectbox" } -%></dd>

<dt><label for="ticket_priority_id">Priority</label></dt>
<%#= select 'ticket','priority_id',Priority.find(:all).collect {|p| [ p.priority, p.id ] }, {}, { :style => "width: 130px", :class => "selectbox" } -%>
<dd><%= f.collection_select :priority_id, @priority_select, :id, :name, { :include_blank => true }, { :class => "selectbox" } -%></dd>

<dt><label for="ticket_owned_by">Owner</label></dt>
<dd><%= f.text_field :owned_by -%></dd>

<dt><label for="ticket_details">Details</label></dt>
<dd><%= f.text_area :details, :size => "70x6", :class => "textarea" -%></dd>

<dd><%= f.submit button_name, :class => "button" -%>&nbsp;&nbsp;<%= link_to 'Cancel', @ticket -%></dd>
</dl>

<% end -%>
