<dt><label for="produto_codigo">Codigo</label></dt>
<dd><%= text_field :produto,:codigo,:class=>'text_field' -%></dd>

<dt><label for="produto_titulo">Titulo</label></dt>
<dd><%= text_field :produto,:titulo,:class=>'text_field' -%></dd>

<dt><label for="produto_descricao">descricao</label></dt>
<dd><%= text_area :produto,:descricao,:size=>'70x2',:class=>'text_area' -%></dd>

<dt><label for="produto_preco">Preco</label></dt>
<dd><%= text_field :produto,:preco,:class=>'text_field' -%></dd>

<dt><label for="produto_imagem_url">Imagem</label></dt>
<dd><%= text_field :produto,:imagem_url,:class=>'text_field' -%></dd>
