<h1>New produto</h1>

<% form_for(@produto) do |f| %>
  <%= f.error_messages %>
  <dl>    
   <%= render :partial => 'form' -%>   
   <dd><%= f.submit "Create", :class => "button" -%>&nbsp;&nbsp;<%= link_to 'Cancel', produtos_path -%></dd>  
  </dl>
<% end %>
<%= link_to 'Back', produtos_path %>
